#shop_content{
top: 11.5%;
    position: absolute;
width: 100%;
    z-index: 2;
 background-color: white;
 border-style: solid;
 border-color: rgba(112,112,112,0.5);
 border-width: 0 0 1px 0;
background-color: white;
@media screen and (min-width: 768px)  {

 top: 10%;
 

  }
    .products_header{
        text-align: center;
        padding: 70px 0 ;
      
        // max-width: 1260px;
     background-color: white;
   
        .head_title{
      
            h1{
                font-size: 80px;
        line-height: 85px;
        font-weight: 300;
        letter-spacing: -4px;
        font-family: 'Fraunces', serif;
        @media screen and (min-width: 768px)  {
            font-size: 60px;
            line-height: 65px;
            font-weight: 300;
            letter-spacing: -4px;
         
           }
            }
        }
        .sub_title{
            margin: 11px 0 0;
            text-align: center;
          
            p{
                color: #767676;
                a{
                    margin: 0 10px 0 0;
                    color: #767676;
                }
             span{
                margin: 0  0 0 10px;
             }
            }
        }
      
    }
    .container{
 
        padding-top: 30px ;
        margin: 0 12px 40px;
    background-color: white;
 
    overflow: hidden;
    @media screen and (min-width: 1600px) {
      
              max-width: 1400px;        
    margin: 0 auto;
            
        
             
           }
          
        .products_cards{
         
         padding: 0 2% 100px;
           
          
            .product_card{
            
                margin: 0 1% 20px;
                .product_img{
                    max-width: 100%;
                    
                    a{
                     display: block;
                        img{
                            max-width: 100%;
                            object-fit: cover;
                    }
                    }
                }
                .product_desc{
                    padding: 15px 0;
           
                    h6{
                        font-size: 18px;
line-height: 28px;
font-weight: 700;
letter-spacing: 0px;


                    }
                    .mfn_vr{
                     
                        margin: 7px 0;
                        ul{
                            display: flex;
                            padding: 0;
                          
                            
                            li{
                                a{
                                   
                                    border: 1px solid rgba(0,0,0,.1);
                                    border-radius: 3px;
                                    margin: 2px;
                                    font-size: 14px;
                                    line-height: 22px;
                                    padding: 0 10px;
                                }
                            }
                        }
                    }
                    .price{
                        margin-bottom: 7px;
                        span{
                            font-size: 18px;
                            font-family: 'Fraunces', serif;
                            font-weight: 400;
                        }
                    }

                }
            }
        }
    }
}
.background_overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 333%;
  z-index: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
   
    @media screen and (min-width: 1600px) {
        
        top:249%
      
    }
    @media screen and (max-width: 992px) {
        
        display: none;
       
       
      }
    //   @media screen and (min-width: 768px)  {
       
    //   top: 309%;
      
     
    //    }
    //   @media screen and (max-width: 450px) {
        
    //     // top:675%
    //     // display: none;
      
    // }
}
.single_container{
max-width: 100%;
background-color: red;
position:absolute;
inset: 0;
z-index: 10;
.product_card{
    width: 500px;
    height: 600px;
 
        .product_img{
            max-width: 100%;
            
            a{
             display: block;
                img{
                    max-width: 100%;
                    object-fit: cover;
            }
            }
        }
        .product_desc{
            padding: 15px 0;
   
            h6{
                font-size: 18px;
line-height: 28px;
font-weight: 700;
letter-spacing: 0px;


            }
            .mfn_vr{
             
                margin: 7px 0;
                ul{
                    display: flex;
                    padding: 0;
                  
                    
                    li{
                        a{
                           
                            border: 1px solid rgba(0,0,0,.1);
                            border-radius: 3px;
                            margin: 2px;
                            font-size: 14px;
                            line-height: 22px;
                            padding: 0 10px;
                        }
                    }
                }
            }
            .price{
                margin-bottom: 7px;
                span{
                    font-size: 18px;
                    font-family: 'Fraunces', serif;
                    font-weight: 400;
                }
            }

        }
    

}
}