.card{
    max-width: 50%;
    height: 500px;
    background-color: blue;
    .image{
        max-width: 50%;
        height: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .content{
        max-width: 50%;
        height: 100%;
h2{
    font-size: 24px;
}
        p{
    font-size: 15px;
}
a{
    font-size: 18px;
}
    }
}