*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 


#hospital-members{
    background-color: green;
    max-width: 100%;


    .container{
       max-width: 1340px;
       background-color: blue;
       margin: 0 auto;
    
    }
}
}
