#particlesPart{
   margin-top:100px;
   margin-bottom: 30px;
    .container{
        max-width: 100%;
       background-color: transparent;
       .card{
    border: none;
    overflow: hidden;
        height: 580px;
        
        @media (max-width:568px) {
         margin: 20px 0;
      //   height: 6px;
       
        }
       @media (min-width:569px) and (max-width:992px) {
        margin: 20px 0;
       height: 700px;
      
       }
      
        .cardBody1{
            background-color: blue;
            border-radius: 10px;
            background-image:url("../../../public/unido.aboutus.jpg") ;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            position: relative;
            padding-bottom: 30px;
         z-index: 0;
         .cardContext{
           
            position: absolute;
            z-index: 1;
            width: 94%;
           height: 35%;
           background-color: rgba(0, 0, 0, 0.139);
           top: 65%;
          
           padding: 0 30px;
           color: white;
           @media (max-width:568px) {
           padding: 0;
           top: 45%;
           }
           @media (min-width: 569px) and (max-width: 768px){
          top: 50%;
          padding: 0 15px;
          height: auto;
          
               }
               @media (min-width: 769px) and (max-width: 992px){
               top: 60%;
               padding: 0;
                
                     }
           .cardTitle{
            font-size: 28px;
      
            
           }
           .cardText{
            font-size: 14px;
            font-weight: 500;
            @media (max-width:568px) {
               font-size: 16px;
                }
                @media (min-width:569px) and (max-width:992px) {
                  font-size: 18px;
                
                 }
            
              }
         }
        }
        .cardBody2{
            background-color: blue;
            border-radius: 10px;
            background-image:url("../../../public/unido.coffe.jpg") ;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            position: relative;
        
         z-index: 0;
         .cardContext{
           
            position: absolute;
            z-index: 4;
            width: 94%;
           height: 35%;
           background-color: rgba(0, 0, 0, 0.139);
           top: 65%;
          
           padding: 0 30px;
           color: white;
           @media (max-width:568px) {
            padding: 0;
            top: 60%;
            }
            @media (min-width: 569px) and (max-width: 768px){
               top: 50%;
               padding: 0 15px;
               height: auto;
               
                    }
            @media (min-width: 769px) and (max-width: 992px){
                top: 60%;
                padding: 0;
                 
                      }
           .cardTitle{
            font-size: 28px;
       
           }
           .cardText{
         font-size: 14px;
         font-weight: 500;
         @media (max-width:568px) {
            font-size: 16px;
             }
             @media (min-width:569px) and (max-width:992px) {
               font-size: 18px;
             
              }
                 
           }
         }
        }
        .cardBody3{
            background-color: blue;
            border-radius: 10px;
            background-image:url("../../../public/unido.brow.jpg") ;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            position: relative;
           
         z-index: 0;
         .cardContext{
           
            position: absolute;
            z-index: 1;
            width: 94%;
           height: 35%;
           background-color: rgba(0, 0, 0, 0.139);
           top: 65%;
          
           padding: 0 30px;
           color: white;
           @media (max-width:568px) {
            padding: 0;
            top: 70%;
            }
            @media (min-width: 569px) and (max-width: 768px){
               top: 75%;
               padding: 0 15px;
               height: auto;
               
                    }
            @media (min-width: 769px) and (max-width: 992px){
                top: 80%;
                padding: 0;
                 height: auto;
                      }
           .cardTitle{
            font-size: 28px;
           
                
           }
           .cardText{
            font-size: 14px;
            font-weight: 500;
            @media (max-width:568px) {
                font-size: 16px;
                 }
                 @media (min-width:569px) and (max-width:992px) {
                  font-size: 18px;
                
                 }
                  

              }
         }
        }
       }
    }
}