
.header{
   position: fixed;
z-index: 100;
background-color: white;
    .headcontainer{
        
       
        margin: 0 auto;
       padding: 20px 40px;
     
    .cosmetichead{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftside{
      
          max-width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logolink{
               
                a{
                   
                    display: block;
                }
            }
            .navbar{
        margin: 0 55px;
 
            
                .navitems{
                   display: inline;
                
          

                    li{
                        margin: 0 25px;
                        font-family: 'Poppins', sans-serif;
                            font-size: 18px;
                            display: inline;
                        
                        .simple{
                         color:#000000
                        
                        }
                        .colorful{
                            color:#E1B493;
                        }
                       
                    }
                }
            }
        }
        .rightside{
            display: flex;
            justify-content: space-evenly;
         
          width: 50%;
           
            .searchpart{
                
                position: relative;
                padding: 0 40px;
                margin: 0 5px;
                input{
                    border-width: 1px 1px 1px 1px;
                    border-color: #000000;
                    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.16);
                    padding: 10px 20px 10px 40px;
                  font-family: 'Fraunces', serif;
                  font-size:15px ;
                }
                .search{
                   
                    position: absolute;
                    top: 20%;
                    left: 50px
                }
                .search_filter_box{
                    max-width: 100%;
                    height: 300px;
                    position: absolute;
                    top: 120%;
                    left: 0 ;
                    right: 0 ;
                    bottom: 0;
                   background-color: transparent;
                    .user_card{
           
        
            inset: 100%;
                        margin: 0 1% 20px;
                        .user_img{
                            max-width: 100%;
                            
                            a{
                             display: block;
                                img{
                                    max-width: 100%;
                                    object-fit: cover;
                            }
                            }
                        }
                        .user_desc{
                            padding: 15px 0;
                   
                            h6{
                                font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        letter-spacing: 0px;
        
        
                            }
                            .mfn_vr{
                             
                                margin: 7px 0;
                                ul{
                                    display: flex;
                                    padding: 0;
                                  
                                    
                                    li{
                                        a{
                                           
                                            border: 1px solid rgba(0,0,0,.1);
                                            border-radius: 3px;
                                            margin: 2px;
                                            font-size: 14px;
                                            line-height: 22px;
                                            padding: 0 10px;
                                        }
                                    }
                                }
                            }
                            .price{
                                margin-bottom: 7px;
                                span{
                                    font-size: 18px;
                                    font-family: 'Fraunces', serif;
                                    font-weight: 400;
                                }
                            }
        
                        }
                    }
                }

            }
            .iconspart{
             
                display: flex;
                align-items: center;
                a{
                    margin: 0 15px;
                    position: relative;
                    &::after{
                        content: "0";
                        position: absolute;
                        top: -9px;
    right: -15px;
                        font-size: 13px;
                        min-width: 18px;
                        text-align: center;
                        border-radius: 18px;
                        // padding: 3px;
                      color: white;
                        background-color: #000000;
                    }
                    .icon{
                        color: #000000;
                    }

                }
            }
        }
    }
    
    
    }
}