


Footer{
 background-color: chartreuse;
    .container{
        background-color: red;
        max-width: 100%;
        .foot_columns{
            background-color: blue;
            display: flex;
            margin: 0 auto;
            .column_data{
                background-color: purple;
                max-width: 25%;
                .column_head{
                    background-color: yellow;
                    margin: 0 12px 40px;
                    h5{
                        font-size: 19px;
                    }
                }
                .column_content{
                    a{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}